@import "tailwindcss";

@theme {
  --color-primary: #BBF451;
}

body {
  font-family: var(--font-primary-sans), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
