@import "tailwindcss";

@theme {
  --color-primary: #B9FF66;
}

body {
  font-family: var(--font-roboto-sans), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
